fastapi>=0.112.2
uvicorn[standard]
onnxruntime
pillow
numpy
python-multipart
pydantic
python-weka-wrapper3
contextlib2
python-dotenv
earthengine-api
openmeteo-requests
requests
geemap
s3fs
xarray>=2025.6
pandas
scipy
Pillow
scikit-image
scikit-fuzzy
xee==0.1.2
zarr>=2.18,<3
shapely>=2,<3

rasterio